<header>
	<div class="container-fluid">
		<div class="navbar-header">
			<div id="nav-logo">
				<a href="{{ site.url }}/"><h1>jun peng</h1></a>
			</div>

			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#nav-menu">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
		</div>

		<div id="nav-menu" class="collapse navbar-collapse">
			<ul class="nav navbar-nav navbar-right">
				<li><a class="link" href="{{ site.url }}/">work</a></li>
				<li><a class="link" href="/about/">about</a></li>
				<li><a class="link" href="/contact/">contact</a></li>
			</ul>
		</div>
	</div>
</header>