<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{{ page.title }} | Jun Peng Photography</title>
		<link rel='icon' type='image/x-icon' href='{{ site.url }}/images/favicon.ico' />
		<!-- Style Sheets -->
		<link rel="stylesheet" type="text/css" href="{{ site.url }}/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="{{ site.url }}/css/bootstrap-theme.min.css">
		<link rel="stylesheet" type="text/css" href="{{ site.url }}/css/style.css">
		<link rel="stylesheet" type="text/css" href="{{ site.url }}/css/pongstagr.am.css">
		<!-- Google Font -->
		<link href='http://fonts.googleapis.com/css?family=Muli:300,400' rel='stylesheet' type='text/css'>
	</head>
	<body>
		<!-- loader -->
		<div class="loader"></div>
		
		<!-- container -->
		<div class="container">

		<!-- header -->
		{% include header.html %}

		<div class="divider"></div>

		<div id="wrap" class="clearfix">
			<!-- content -->
			{{ content }}
		</div>

		<div class="divider"></div>

		<!-- footer -->
		{% include footer.html %}
		<!-- end container -->

		<!-- JQuery Library -->
		<script src="{{ site.url }}/js/jquery-1.11.1.min.js"></script>
		<script src="{{ site.url }}/js/bootstrap.min.js"></script>
		<script src="{{ site.url }}/js/pongstagr.am.js"></script>
		<script src='{{ site.url }}/js/jquery.fadeloader.js'></script>
		<script src='//cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js'></script>
		<script src="{{ site.url }}/js/script.js"></script>
	</body>
</html>