<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{{ page.title }} | Jun Peng Photography</title>
		<link rel='icon' type='image/x-icon' href='{{ site.url }}/images/favicon.ico' />
		<!-- Style Sheets -->
		<link rel="stylesheet" type="text/css" href="{{ site.url }}/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="{{ site.url }}/css/bootstrap-theme.min.css">
		<link rel="stylesheet" type="text/css" href="{{ site.url }}/css/style.css">
		<link rel="stylesheet" type="text/css" href="{{ site.url }}/css/swipebox.css">
		<!-- Google Font -->
		<link href='http://fonts.googleapis.com/css?family=Muli:300,400' rel='stylesheet' type='text/css'>
		
		
	</head>
	<body>
		<!-- spiner -->
		<div class="loader"></div>

		<!-- container -->
		<div class="container">

		<!-- header -->
		{% include header.html %}

		<div class="divider"></div>

			<div id="wrap" class="clearfix">

			<!-- content -->
			<div class="row">
				<!-- description -->
				<div id="project-description" class="col-lg-3 col-md-4 col-sm-12">
					<h3>{{ page.title }}</h3>

					<p>{{ page.description }}</p>
				</div>

				<!-- images -->
				<div id="project-img-list" class="col-lg-9 col-md-8 col-sm-12">
					{% for i in page.img %}
					<a href="{{ site.url }}/images/{{ page.path }}/{{ i }}.jpg" class="gallery" title="{{ page.title }}">
						<img class="project-img-lg" src="{{ site.url }}/images/{{ page.path }}/{{ i }}.jpg" alt />
					</a>
					{% endfor %}
				</div>
			</div>

			<div class="row">
				<div id="back-btn" class="pull-left">
					<a class="link" href="{{ site.url }}/">back</a>
				</div>

				<!-- pagination -->
				<div id="pagination" class="pull-right">
					<ul>
						{% if page.next.url %}
						<li><a class="link" href="{{ page.next.url }}">&#60; prev</a></li>
						{% endif %}
						
						{% if page.previous.url and page.next.url %}
						<li>/</li>
						{% endif %}

						{% if page.previous.url %}
						<li><a class="link" href="{{ page.previous.url }}">next &#62;</a></li>
						{% endif %}
					</ul>
				</div>
			</div>

			<!-- <div id="wrap" class="clearfix"> -->
			<!-- project list -->
			
			<!-- </div> -->

			</div>

		<div class="divider"></div>

		<!-- footer -->
		{% include footer.html %}
		<!-- end container -->

		<div class="scroll-top" title="Back to Top"><span class="glyphicon glyphicon-chevron-up"></span></div>

		<!-- JQuery Library -->
		<script src="{{ site.url }}/js/jquery-1.11.1.min.js"></script>
		<script src="{{ site.url }}/js/bootstrap.min.js"></script>
		<script src="{{ site.url }}/js/pongstagr.am.js"></script>
		<script src='{{ site.url }}/js/jquery.fadeloader.js'></script>
		<script src='{{ site.url }}/js/jquery-ui.min.js'></script>
		<script src="{{ site.url }}/js/jquery.swipebox.js"></script>
		<script src="{{ site.url }}/js/script.js"></script>
	</body>
</html>